
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #333;
    transition: 0.4s;
}
header .logo{
    width: 100%;
    padding: 20px 8%;
    display: flex;
    background-color: #677E8A;
    position: absolute;
    top: 0;
    left: 0;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}
.find-doctor {
    background-color: #ABAFB5; 
    padding: 40px 20px;
    text-align: center;
}
.box{
    background: white;
    padding: 30px;
    border-radius: 15px;
    margin-top:60px;
    display: inline-block;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.search-bar {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.search-input {
    flex: 2;
    border: 1px solid #ABAFB5;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.search-input input {
    border: none;
    width: 100%;
    outline: none;
}
.btn-search {
    background-color: #677E8A;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.services{
    padding: 60px 5%;
    text-align: center;
}
.title {
    color: #677E8A;
    margin-bottom: 50px;
    font-size: 2rem;
}
.boxes {
    display: flex;          
    flex-wrap: wrap;        
    justify-content: center; 
    gap: 25px;           
}
.item {
    background: white;
    width: 280px;           
    padding: 40px 20px;
    border: 1px solid #ABAFB5;
    border-radius: 20px;
    transition: 0.3s ease;
    text-decoration: none;  
    color: inherit;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.item h3 {
    margin: 10px 0;
    font-size: 1.4rem;
}

.item:hover {
    background-color: #677E8A;
    color: white;
    transform: translateY(-10px);
}
.top {
    height: 400px;
    background: url('img1.jpg') center/cover;
    margin-top: 80px;
}
.layer {
    background: rgba(103, 126, 138, 0.85);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.numbers {
    background-color: #677E8A;
    padding: 60px 0;
    color: white;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}
.stat{
     text-align: center; 
     margin: 15px; 
}
.stat h3 { 
    font-size: 2.5rem; 
    margin: 0; 
}
.stat p { 
    color: #ABAFB5; 
    margin-top: 5px; 
}
.mode-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px 25px;
    background:#0E1D21;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1000;
    font-weight: bold;
}
body.dark-mode {
    background-color: #0E1D21; 
    color: #ABAFB5; 
}
.dark-mode header .logo{
     background-color: #0E1D21;
}
.dark-mode .find-doctor {
    background-color: #122E34; 
}
.dark-mode .box {
    background-color: #0E1D21; 
    border: 1px solid #122E34;
}
.dark-mode .search-input {
    background-color: #0E1D21; 
    border: 1px solid #ABAFB5; 
    border-radius: 8px ;
    display: flex ;
    align-items: center ;
    padding: 5px 15px ;
    height: 45px ; 
    overflow: hidden ; 
}
.dark-mode .search-input input {
    background: transparent ;
    border: none ;           
    outline: none ;         
    box-shadow: none ;       
    color: #ffffff ;         
    width: 100% t;
    height: 100% t;
    padding: 0 10px ;        
    margin: 0 ;
}
.dark-mode .btn-search{
    background-color: #122E34;
}
.dark-mode .item {
    background-color: #122E34; 
    border: 1px solid #0E1D21;
    color: #ffffff;
}
.dark-mode .item:hover {
    background-color: #1c454e; 
    border-color: #ABAFB5;
}
.dark-mode .title {
    color: #ffffff;
}
.dark-mode .numbers {
    background-color:  #091d22; 
    border-top: 3px solid #122E34;
}
.dark-mode .layer{
    background-color: #122E34;
}
.dark-mode .stath3 {
    color: #ffffff;
}
.dark-mode .stat p {
    color: #ABAFB5;
}
.dark-mode .mode-btn {
    background-color: #0E1D21;
    border: 1px solid #ABAFB5;
}